<div class="page-header">
  <h1>Idea #<%= @idea.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Post date</dt>
  <dd><%= @idea.post_date %></dd>

  <dt>Title</dt>
  <dd><%= @idea.title %></dd>

  <dt>Description</dt>
  <dd><%= @idea.description %></dd>

  <dt>Price</dt>
  <dd><%= @idea.price.round(2) %></dd>

  <dt>Category</dt>
  <dd><%= @idea.category %></dd>

  <dt>Size</dt>
  <dd><%= @idea.size %></dd>

  <dt>Status</dt>
  <dd><%= @idea.status %></dd>

  <dt>Rating</dt>
  <dd><%= @idea.rating %></dd>

  <dt>Buyer</dt>
  <dd><%= @idea.buyer.full_name %></dd>

  <dt>Artist</dt>
  <dd><%= @idea.artist.full_name %></dd>

</dl>


